

.dropdown-menu.multi-column {
    width: 600px; 
    background-color: #000;
    
}

.dropdown-menu.multi-column .dropdown-item {
    white-space: normal;
}

.dropdown-menu.multi-column .column {
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
}

.dropdown-menu.multi-column .column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category
{
    color:black;
}
